/* common shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* header related styles */
.header-section {
  background: url("/images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}
.banner-content {
  display: block;
  margin-left: 700px;
  margin-right: 50px;
  padding: 30px 30px 0px 150px;
}
.banner-motto {
  margin-top: 200px;
  max-width: 525px;
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}
.banner-description {
  margin-top: 24px;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.banner-button {
  margin-top: 13px;
  border-style: none;
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px 10px 5px;
  margin-left: 295px;
}
/* main related styles */
.failures {
  margin-top: 250px;
  display: block;
}
.picture-column {
  display: block;
}
.my-failures {
  margin-left: 140px;
  margin-top: 130px;
  margin-right: 120px;
  display: flex;
  gap: 150px;
  align-items: center;
}
.failure-heading {
  color: var(--Dark-01, #151414);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.failure-details {
  color: var(--Dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 15px;
}
.failure-list {
  color: var(--Dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
